<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.rafadev.cordova.printergowell"
        version="0.0.1">

    <name>Printer Gowell</name>

    <description>
        Cordova plugin to print using Gowell bluetooth printer
    </description>

    <repo>
        https://github.com/ghprod/cordova-plugin-printer-gowell.git
    </repo>

    <keywords>
        print, printer, android, gowell, bluetooth
    </keywords>

    <license>Apache 2.0</license>

    <author>Ferri Sutanto</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- interface -->
    <js-module src="www/printer.js" name="printerGowell">
        <clobbers target="plugin.printerGowell" />
        <clobbers target="cordova.plugins.printerGowell" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Printer">
                <param name="android-package" value="com.rafadev.cordova.PrinterGowell"/>
            </feature>
        </config-file>

        <source-file src="src/android/RT_Android_Bluetooth_SDK.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/DateString.java" target-dir="src/com/rafadev/cordova/plugin/printergowell" />
        <source-file src="src/android/Utils.java" target-dir="src/com/rafadev/cordova/plugin/printergowell" />
        <source-file src="src/android/PrinterGowell.java" target-dir="src/com/rafadev/cordova/plugin/printergowell" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
    </platform>
</plugin>